body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: 10px;
  background-color: #333;

  @font-face {
    font-family: "Pretendard-Regular";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
      format("woff");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Pretendard-SemiBold";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
      format("woff");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Pretendard-ExtraBold";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff")
      format("woff");
    font-weight: 800;
    font-style: normal;
  }
}

.wrap {
  background-color: #fff;
  width: 1280px;
  height: 100vh;
  font-size: 1.6em;
}

.task-area {
  border: 1px solid lightgray;
}

.task-tabs {
  display: flex;
  border-bottom: 1px solid lightgray;
}

.task-tabs div {
  padding: 1em;
  cursor: pointer;
}

.task {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid lightgray;
  position: relative;
  /* padding: 1em; */
  align-items: center;
  height: 48px;
}

span {
  padding: 1em;
}

.btn-erea {
  display: flex;
  padding: 0;
}

.task-done {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid lightgray;
  position: relative;
  text-decoration: line-through;
  background-color: #e1e1e1;
  align-items: center;
  height: 48px;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
}

.fa-plus {
    background-color: rgb(145, 212, 81);
    border: none;
    color: white;
    padding: 1em 2em;
    font-size: 1em;
    cursor: pointer;
    
    /* border-radius: 10px; */
  }

.fa-check {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 1em 2em;
  font-size: 1em;
  cursor: pointer;
  width: 5em;
  /* border-radius: 10px; */
}

.fa-trash {
  background-color: rgb(255, 94, 30);
  border: none;
  color: white;
  padding: 1em 2em;
  font-size: 1em;
  cursor: pointer;
  width: 5em;
  /* border-radius: 10px; */
}

.fa-rotate-left {
    background-color: rgb(12, 56, 100);
    border: none;
    color: rgba(255, 255, 255, 0.5);
    padding: 1em 2em;
    font-size: 1em;
    cursor: pointer;
    width: 5em;
    /* border-radius: 10px; */
  }


    .active-tab {
      background-color: rgb(145, 212, 81);
      font-weight: 600;
      color: #fff;
    }